@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --primary-color-text: #ffffff;
  --secondary-color-text: #aeaeae;
  --accent-color: #62d3f1;
  --font-family-main: "Poppins", sans-serif;
  --font-family-alt: "Roboto", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  scroll-behavior: smooth;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-main);
  color: var(--primary-color-text);
}
p {
  font-family: var(--font-family-alt);
  color: var(--secondary-color-text);
  line-height: 1.6;
}
a {
  color: var(--accent-color);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
button {
  font-family: var(--font-family-main);
  cursor: pointer;
  color: var(--primary-color-text);
}
button:hover {
  opacity: 0.9;
}

header {
  background-color: rgb(28, 28, 28);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 20px 30px;
}
header .logo {
  color: white;
  font-family: var(--font-family-main);
}
header .navlinks ul {
  display: flex;
  align-items: center;
  gap: 30px;
}
header .navlinks ul li {
  list-style-type: none;
}

header .navlinks ul li a {
  color: var(--primary-color-text);
  text-decoration: none;
  font-family: var(--font-family-main);
  font-size: 0.9rem;
}
header .navlinks ul button {
  padding: 10px 40px;
  margin-left: 10px;
  background: var(--accent-color);
  border: none;
  border-radius: 2px;
}
.container {
  max-width: 86rem;
  margin: 0 auto;
  padding: 20px;
}
.sub-container {
  max-width: 80rem;
  margin: 0 auto;
  padding: 20px;
  background-color: red;
}
