main {
  height: 100vh;
  display: grid;
  grid-template-rows: max-content 1fr;
}
main .wrapper__main {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      to right,
      #000000,
      #000000dd,
      #00000000,
      #00000000
    ),
    url("https://img.freepik.com/free-photo/inside-view-church-with-religious-icons-windows-stone-arches_181624-16218.jpg?t=st=1767528621~exp=1767532221~hmac=128fa9d41474cdb3c532a334ae4d7dd187f767d2701fa0e7ca31e309143a880a&w=2000");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}
main h1 {
  font-size: 3.2rem;
  text-transform: uppercase;
  line-height: 1.2;
}
main p {
  font-size: 1rem;

  text-transform: capitalize;
  text-align: center;
}
.cta-buttons .primary-cta {
  padding: 10px 50px;
  background-color: var(--accent-color);
  border: none;
  border-radius: 8px;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
}

.cta-buttons .secondary-cta {
  padding: 10px 50px;
  background-color: rgba(255, 255, 255, 0.065);
  border: none;
  border-radius: 8px;
  color: var(--primary-color-text);
  text-transform: uppercase;
  cursor: pointer;
  margin-left: 10px;
}
.cta-buttons .primary-cta:hover {
  opacity: 0.9;
}
.about-section {
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  place-items: center;
  width: 100%;
  padding: 6rem 0;
}

.about-section {
  img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    object-position: top;
    border-radius: 20px;
    transform: scaleX(-1);
  }
}
.img__wrapper__about {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
/* .img__wrapper__about::after {
  content: "";
  position: absolute;
  background-image: url("https://img.freepik.com/free-photo/abstract-grunge-red-background_1258-340.jpg?w=2000");
  background-size: cover;
  width: 40%;
  height: 40%;
  top: -40px;
  right: -20px;
  border-radius: 2%;
  background-color: red;
  z-index: 1;
}
.img__wrapper__about::before {
  content: "";
  position: absolute;
  background-image: url("https://img.freepik.com/free-photo/abstract-grunge-red-background_1258-340.jpg?w=2000");
  background-size: cover;
  width: 35%;
  height: 35%;
  bottom: -80px;
  left: -40px;
  border-radius: 2%;
  background-color: red;
  z-index: 1;
} */
.img__wrapper__about:hover::after {
  background: rgba(0, 0, 0, 0.8);
}
.about-text {
  align-self: center;
  width: max-content;
}
h2 {
  font-size: 2.2rem;
  font-weight: 600;
}
p {
  font-size: 1.07rem;
  line-height: 1.6;
  max-width: 600px;
}
.join-section {
  padding: 6rem 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
.wrapper__join {
  background: linear-gradient(
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)
    ),
    url("https://img.freepik.com/free-photo/empty-christian-church-building_23-2151103910.jpg?t=st=1767527664~exp=1767531264~hmac=35fe4bf21a6526831c04ebe763e879039c87f0e02da02d191f287358c6cc396e&w=2000");
  background-repeat: no-repeat;
  background-size: cover;
}
.join-section {
  h2,
  p {
    color: rgb(255, 255, 255);
  }
  h2 {
    font-size: 2.1rem;
  }
  p {
    font-size: 0.9rem;
    max-width: 600px;
  }
  .embed-map-responsive {
    position: relative;
    text-align: right;
    width: 100%;
    height: 0;
    padding-bottom: 35.714285714285715%;
  }
  .embed-map-container {
    overflow: hidden;
    background: none !important;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px;
  }
  .embed-map-frame {
    width: 100% !important;
    height: 100% !important;
    position: absolute;
    top: 0;
    left: 0;
  }
}
