main {
  width: 100%;
  height: 46rem;
  padding: 20px;
}
main .container {
  max-width: 87rem;
  margin: 0 auto;
  border-radius: 20px;
  padding-left: 7rem;
  padding-bottom: 5rem;
  height: 100%;
  background-image: linear-gradient(
      to right,
      #000000,
      #000000dd,
      #00000000,
      #00000000
    ),
    url("../images/hero.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1rem;
}
main h1 {
  font-size: 3rem;
  text-transform: uppercase;
  line-height: 1.2;
}
main p {
  font-size: 1rem;
  margin-top: 1rem;
  text-transform: capitalize;
}
.cta-buttons .primary-cta {
  padding: 10px 50px;
  background-color: var(--accent-color);
  border: none;
  border-radius: 2px;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
}

.cta-buttons .secondary-cta {
  padding: 10px 50px;
  background-color: rgba(255, 255, 255, 0.065);
  border: none;
  border-radius: 2px;
  color: var(--primary-color-text);
  text-transform: uppercase;
  cursor: pointer;
  margin-left: 10px;
}
.cta-buttons .primary-cta:hover {
  opacity: 0.9;
}

.serv-time {
  display: flex;
  gap: 4rem;
  margin-top: 3rem;
}
.serv-time div p {
  font-size: 0.9rem;
  text-transform: capitalize;
}
.about-container {
  border-radius: 20px;
  min-height: 50vh;
}
